//ШРИФТЫ

//ШРИФТЫ

//font-display: swap;
//</Подключение шрифтов>

//<Шрифт по умолчанию>
$fontSize: rem(16);
$fontFamily: "Eudoxus Sans";
$mainColor: #fff;
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>
$maxWidthContainer: 1170;
$maxWidth: 1440;

$containerPadding: 15;

$containerWidth: $maxWidthContainer + $containerPadding;

$minwidth: 320px;
$mw: 1440px;
$md1: $containerWidth + px;
$md2: 991.98px; //Tablets
$md3: 767.98px; //phone L
$md4: 479.98px; //phone S

* {
   scroll-behavior: smooth;
}

:root {}

//</ПЕРЕМЕННЫЕ>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>
@import "nullStyle";
@import 'mixins';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>

//<ОБОЛОЧКА>
.page {
   width: 100%;
   background-color: #1A232E;
   overflow: hidden;
}

//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container {
   max-width: 1170px;
   margin: 0px auto;
   padding: 0 15px;
   min-height: 100%;
}

//</ОСНОВНАЯ СЕТКА>

.ibg {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.typingText {
   z-index: 5;
   position: relative;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   letter-spacing: -0.02em;
   color: rgba(199, 199, 199, 0.5);
}

.TitleText {
   font-weight: 700;
   z-index: 5;
   position: relative;
   @include adaptiveValue('font-size', 64, 36, 1);
   line-height: 81px;
   letter-spacing: -0.02em;
   color: #FFFFFF;
   max-width: 885px;
}

.navbar {
   position: relative;
   padding-top: 35px;
   @include adaptiveValue('margin-bottom', 174, 30, 1);

   &__row {
      z-index: 5;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      nav {
         //position: absolute;
         // top: 0;
         // right: 0;
         // bottom: 0;
         width: 50px;
      }

      .background {
         position: absolute;
         top: 0;
         right: -100%;
         bottom: 0;
         width: 300px;
         background: #fff;
      }

      button {
         outline: none;
         border: none;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         cursor: pointer;
         width: 50px;
         height: 50px;
         border-radius: 50%;
         background: #fff;
      }

      ul,
      li {
         margin: 0;
         padding: 0;
      }

      ul {
         padding: 25px;
         position: absolute;
         top: 100px;
         right: 0;
         width: 230px;

      }

      li {
         list-style: none;
         margin-bottom: 20px;
         display: flex;
         align-items: center;
         cursor: pointer;
      }

      .icon-placeholder {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         flex: 40px 0;
         margin-right: 20px;
      }

      .text-placeholder {
         border-radius: 5px;
         width: 200px;
         height: 20px;
         flex: 1;
      }

      img {
         @include adaptiveValue('width', 24, 18, 0);
         @include adaptiveValue('height', 24, 18, 0);
      }
   }

   &__title {
      font-weight: 800;
      @include adaptiveValue('font-size', 24, 18, 0);
      line-height: 30px;
      color: #FFFFFF;
   }

   &__gradient {
      z-index: 0;
      position: absolute;
      width: 675px;
      height: 678px;
      left: -63px;
      top: -459px;
   }
}

.hero {
   @include adaptiveValue('margin-bottom', 200, 30, 1);

   &__container {}

   &__title {
      position: relative;
      z-index: 5;
      display: grid;
      justify-content: center;

      .home {
         position: absolute;
         left: -20%;
         top: 13%;

         @media(max-width: $md3) {
            left: 0;
            top: -15px;
         }
      }

      h1 {
         position: relative;
         font-weight: 700;
         @include adaptiveValue('font-size', 144, 48, 0);
         line-height: 110%;
         letter-spacing: -0.02em;
         color: #FFFFFF;
      }

      .heroDtext {
         @include adaptiveValue('width', 144, 70.67, 0);
         @include adaptiveValue('height', 108, 36, 0);
         border: solid #FFFFFF;
         @include adaptiveValue('border-width', 18, 6, 0);
         border-radius: 0px 50px 50px 0px;
         margin-right: -10px;
      }
   }

   &__title-first {}

   &__title-second {
      display: flex;
      align-items: baseline;
      gap: 10px;
   }

   &__content {
      position: relative;
      margin-top: -50px;
      @include adaptiveValue('padding-left', 135, 30, 0);
   }

   &__image {
      position: relative;
      width: 100%;
      z-index: 1;
      background-image: url('/cover.png');
      padding-bottom: 37%;
      border-radius: 140px 0px 0px 42px;

      // &::after {
      //    content: '';
      //    position: absolute;
      //    top: -30px;
      //    left: 0;
      //    z-index: 0;
      //    width: 700px;
      //    height: 400px;
      //    border-radius: 140px 0px 0px 42px;
      //    background: linear-gradient(97.86deg,
      //          #a509ff 0%,
      //          #34acc7 53.65%,
      //          #a134c7 100%);
      // }


      img {
         width: fit-content;
      }
   }

   &__link {
      display: flex;
      justify-content: end;
      @include adaptiveValue('padding-right', 141, 30, 0);
      @include adaptiveValue('margin-top', -60, -30, 0);
      position: relative;
      z-index: 2;

      img {
         @include adaptiveValue('width', 155, 70, 1);
         @include adaptiveValue('height', 155, 70, 1);
      }
   }
}

.about {
   @include adaptiveValue('margin-bottom', 200, 30, 1);
   position: relative;

   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   &__text {
      position: relative;
      z-index: 5;
      font-weight: 600;
      @include adaptiveValue('font-size', 32, 18, 0);
      line-height: 180%;
      text-align: center;
      color: #C7C7C7;
      margin-bottom: 24px;

      span {
         font-weight: 800;
         color: #FFFFFF;
      }
   }
}

.explore {
   @include adaptiveValue('margin-bottom', 200, 30, 1);

   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
   }

   &__cards {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;
      width: 100%;
      height: 563px;

      @media (max-width: $md2) {
         flex-direction: column;
         height: 698px;
         //@include adaptiveValue('height', 698, 70, 1);
      }
   }
}

.exploreCard {
   flex: 0 0 14.79%;
   height: 100%;
   border-radius: 24px;
   overflow: hidden;
   transition: all 0.5s ease-out 0s;
   cursor: pointer;

   @media (max-width: $md2) {
      flex-direction: column;
      height: 100px;
      width: 100%;
   }

   &-active {
      flex: 0 0 29.57%;

      @media (max-width: $md2) {
         height: 170px !important;
      }
   }

   &__content {
      width: 100%;
      height: 100%;
      position: relative;
   }

   &__bg {
      position: absolute;
      z-index: 0;
      bottom: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(0deg, #9D15FB, #9D15FB);
      opacity: 0;

      @media (max-width: $md2) {
         height: 100px !important;
      }

      &-active {
         opacity: 0.4;
      }
   }

   &__link {
      cursor: pointer;
      z-index: 5;
      display: block;
      position: absolute;
      left: 32px;
      bottom: 132px;
      width: 60px;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.4);
      background-image: url('/headset.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30% 30%;
      border-radius: 24px;
      opacity: 0;

      @media (max-width: $md2) {
         height: 50px;
         width: 50px;
         border-radius: 20px;
      }

      &-active {
         opacity: 1;
      }
   }

   &__text {
      z-index: 5;
      transition: all 0.2s ease-out 0.3s;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: #FFFFFF;
      position: absolute;
      left: 32px;
      bottom: 96px;

      @media (max-width: $md2) {
         bottom: 60px;
         font-size: 14px;
      }

      &-hidden {
         opacity: 0;
      }

      &-visible {
         opacity: 1;
      }
   }

   &__title {
      z-index: 5;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: #FFFFFF;
      position: absolute;

      @media (max-width: $md2) {
         font-size: 24px;
      }

      &-vertical {
         //transition: all 0.4s ease-out 0.4s;
         bottom: 165px;
         left: calc(-50% + 20px);
         transform: rotate(-90deg);
         min-width: 300px;
         opacity: 0;

         &-active {
            opacity: 1;

            @media (max-width: $md2) {
               opacity: 0;
            }
         }
      }

      &-horizontal {
         //transition: all 0.4s ease-out 0.6s;
         left: 32px;
         bottom: 32px;
         opacity: 0;

         @media (max-width: $md2) {
            bottom: 16px;
            opacity: 1;
         }

         &-active {
            opacity: 1;
         }
      }
   }
}

.getStarted {
   @include adaptiveValue('margin-bottom', 200, 30, 1);

   &__container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, minmax(300px, 1fr));

      @media (max-width: 900px) {
         grid-template-columns: repeat(1, minmax(300px, 1fr));
      }

      &::before,
      &::after {
         content: '';
         position: absolute;
         z-index: 0;
         width: 504px;
         height: 601px;


      }

      &::before {
         top: 100px;
         background: #2565E1;
         filter: blur(125px);
         transform: rotate(68.81deg);
         left: 50.16px;
         opacity: 0.8;
      }

      &::after {
         opacity: 0.7;
         top: -300px;
         left: -300.38px;
         background: #7AEBFB;
         filter: blur(250px);
         transform: rotate(52.01deg);
      }

   }

   &__image {
      min-height: 100%;
      padding-bottom: 100%;
      background-image: url('/get-started.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: start;
   }
}

.startSteps {
   margin: 24px 0;

   &__item {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 24px;
   }

   &__number {
      display: grid;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF;
      width: 70px;
      height: 70px;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 24px;

   }

   &__text {
      flex: 2 1 60%;
      font-size: 18px;
      line-height: 180%;
      color: #B0B0B0;
   }

}

.whatNew {
   @include adaptiveValue('margin-bottom', 200, 30, 1);

   &__container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, minmax(300px, 1fr));

      @media (max-width: 900px) {
         grid-template-columns: repeat(1, minmax(300px, 1fr));
      }

      &::before,
      &::after {
         content: '';
         position: absolute;
         z-index: 0;
      }

      &::before {
         width: 504px;
         height: 601px;
         top: 50%;
         background: #2565E1;
         filter: blur(125px);
         transform: rotate(-87.51deg);
         left: 1207.35px;
         opacity: 0.8;
      }

      &::after {
         width: 665px;
         height: 638px;
         opacity: 0.7;
         top: 100%;
         left: 1361.41px;
         background: #7AEBFB;
         filter: blur(250px);
         transform: rotate(-104.3deg);
      }
   }

   &__image {
      z-index: 5;
      min-height: 100%;
      padding-bottom: 100%;
      background-image: url('/whats-new.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;

      // &::after {
      //    content: '';
      //    position: absolute;
      //    z-index: 0;
      //    width: 342px;
      //    height: 408px;
      //    opacity: 0.5;
      //    top: 0px;
      //    left: 1392.73px;
      //    background: #D225E1;
      //    filter: blur(125px);
      //    transform: rotate(-87.51deg);
      // }
   }

   &__content {
      position: relative;
      z-index: 5;
      display: flex;
      align-items: start;
      flex-direction: column;
   }
}

.newFeatures {
   margin-top: 48px;
   display: flex;
   align-items: center;
   gap: 30px;
   flex-wrap: wrap;


   &__item {
      flex: 1 1 213px;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 24px;
      height: 100%;
   }

   &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 70px;
      height: 70px;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 24px;

      img {
         width: 24px;
         height: 24px;
      }

   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
   }

   &__text {
      flex: 1 1 auto;
      font-size: 18px;
      line-height: 180%;
      color: #B0B0B0;
   }

}

.world {
   @include adaptiveValue('margin-bottom', 200, 30, 1);

   &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
   }

   &__map {
      position: relative;
      @include adaptiveValue('margin-top', 68, 30, 1);
   }

   &__image {
      position: relative;
      z-index: 5;
      width: 100%;

      img {
         max-width: 100%;
         height: 100%;
      }
   }

   &__people {
      position: absolute;
      z-index: 10;
      transform-style: preserve-3d;

      &::before {
         transform: translateZ(-1px);
         content: '';
         z-index: 2;
         position: absolute;
         top: 30%;
         left: 35%;
         width: 30px;
         height: 30px;
         filter: blur(30px);
         background-color: #7AEBFB;
         border-radius: 50%;
      }

      &-01 {
         right: 78.26%;
         top: 10.14%;
      }

      &-02 {
         right: 18.06%;
         top: 50%;
      }

      &-03 {
         right: 46.88%;
         top: 40%;
      }

      img {
         @include adaptiveValue('width', 73, 40, 0);
         height: auto;
      }
   }


}

.insights {
   @include adaptiveValue('margin-bottom', 200, 30, 1);

   &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &::before,
      &::after {
         content: '';
         position: absolute;
         z-index: 0;
      }

      &::before {
         width: 504px;
         height: 601px;
         top: 50%;
         background: #2565E1;
         filter: blur(125px);
         transform: rotate(-87.51deg);
         left: 1207.35px;
         opacity: 0.8;
      }

      &::after {
         width: 665px;
         height: 638px;
         opacity: 0.7;
         top: 100%;
         left: 1361.41px;
         background: #7AEBFB;
         filter: blur(250px);
         transform: rotate(-104.3deg);
      }
   }

   &__cards {
      display: flex;
      flex-direction: column;
      gap: 30px;
   }
}

.insightCard {
   margin-top: 48px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   @include adaptiveValue('gap', 68, 20, 1);
   height: 100%;
   position: relative;
   z-index: 5;

   @media (max-width: 900px) {
      flex-direction: column;
   }

   &__content {
      flex: 2;
      position: relative;
      z-index: 5;
   }

   &__image {
      width: 100%;
      padding-top: 21.36%;
      flex: 1;
      @include adaptiveValue('border-radius', 32, 10, 1);
      overflow: hidden;

      @media (max-width: 900px) {
         padding-top: 30%;
      }
   }

   &__title {
      @include adaptiveValue('font-size', 42, 24, 1);
      line-height: 125%;
      letter-spacing: -0.02em;
      color: #FFFFFF;
   }

   &__text {
      @include adaptiveValue('font-size', 20, 16, 1);
      line-height: 200%;
      letter-spacing: 0.005em;
      color: #FFFFFF;
      opacity: 0.4;
   }

   &__link {

      flex: 0.5;
      display: grid;
      align-items: center;
      justify-content: center;

      div {
         border: 2px solid #F5F5F5;
         border-radius: 50%;
         display: grid;
         align-items: center;
         justify-content: center;
         @include adaptiveValue('width', 100, 50, 1);
         @include adaptiveValue('height', 100, 50, 1);
      }
   }

}

.feedback {
   @include adaptiveValue('margin-bottom', 200, 30, 1);

   &__container {
      position: relative;
      display: grid;
      align-items: center;
      text-align: center;
   }

   &__content {
      display: flex;
      justify-content: center;
      gap: 32px;
      position: relative;

      @media (max-width: 900px) {
         flex-direction: column;
      }
   }

   &__link {
      position: absolute;
      z-index: 10;
      top: 42px;
      left: 30%;

      @media (max-width: 900px) {
         top: -30px;
         left: 70%;
      }

      img {
         @include adaptiveValue('width', 155, 70, 1);
         @include adaptiveValue('height', 155, 70, 1);
      }

   }

   &__comment {
      @include adaptiveValue('padding', 30, 15, 1);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 100%;
      text-align: left;
      flex: 1;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
      border: 1px solid #6A6A6A;
      border-radius: 32px;

      div {
         @include adaptiveValue('font-size', 18, 16, 1);
         line-height: 23px;
         letter-spacing: -0.02em;
         color: #FFFFFF;

         &:first-child {
            @include adaptiveValue('font-size', 32, 24, 1);
            line-height: 40px;
            font-weight: 700;
            margin-bottom: 8px;
         }
      }

      p {
         margin-top: 24px;
         @include adaptiveValue('font-size', 24, 18, 1);
         line-height: 190%;
         letter-spacing: -0.02em;
         color: #FFFFFF;
      }
   }

   &__image {
      flex: 2;
      padding-top: 52.1%;
      border-radius: 40px;
   }
}

.footer {
   position: relative;

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 80px;
      border-bottom: 1px solid #fff;
      margin-bottom: 50px;
      gap: 30px;

      p {
         font-weight: 700;
         @include adaptiveValue('font-size', 64, 48, 1);
         line-height: 81px;
         letter-spacing: -0.02em;
         color: #FFFFFF;
      }

      a {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 12px;
         width: 246px;
         height: 64px;
         background: #25618B;
         border-radius: 32px;
         font-size: 16px;
         line-height: 20px;
         letter-spacing: 0.005em;
         color: #FFFFFF;
         @include anim(0.3s, 0s);

         &:hover {
            @include scale(1.05);
         }

         img {
            width: 24px;
            height: 24px;
         }
      }
   }

   &__body {
      position: relative;
      z-index: 5;
      gap: 30px;
      margin-bottom: 50px;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      div {

         font-weight: 800;
         font-size: 24px;
         line-height: 30px;
         color: #fff;

         @media (max-width: $md2) {
            justify-self: center;
         }
      }

      p {
         justify-self: center;
         font-size: 14px;
         line-height: 150%;
         text-align: center;
         letter-spacing: 0.005em;
         color: rgba(255, 255, 255, 0.7);
         opacity: 0.8;
      }
   }

   &__social {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;

      img {
         width: 24px;
         height: 24px;
         @include anim(0.3s, 0s);

         &:hover {
            @include scale(1.1);
         }
      }

   }
}